#bodyaccueil
{
    text-align: center;
    margin: 0 ;
    background-color: rgb(21, 43, 38);
    color: white;

}

#bodyitem
{
    text-align: center;
    margin: 0 ;
    background-color: grey;
    color: white;

}

#bodynpc
{
    text-align: center;
    margin: 0 ;
    background-color: rgb(21, 43, 38);
    color: white;

}

#bodyboss
{
    text-align: center;
    margin: 0 ;
    background-color:rgb(226, 205, 176);
    color: rgb(131, 123, 123);

}

#bodyperso
{
    text-align: center;
    margin: 0 ;
    background-color: rgba(28,26,21,255);
    color: white;

}

#hautaccueil
{
    height: 700px;
    background-image: url('images/backgroundeldenring.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}

#hautitem
{
    height: 700px;
    background-image: url('images/itembackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}

#hautnpc
{
    height: 700px;
    background-image: url('images/npcbackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}

#hautboss
{
    height: 700px;
    background-image: url('images/Malenia_vs_Radahn.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}

#hautperso
{
    height: 700px;
    background-image: url('images/tempsdejeueldenring.png');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}

h1 {
    
    font-size: 125px;
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    background-color: rgba(38, 48, 42, 0.2); ;
    font-style: normal;
    color:#D3D3D3;
}

#eldenlogo
{
    position:absolute ;
    top: 0 ;
    right : 0 ;
    border: 1px solid ;
    height: 100px ;
    width: 300px;
}
nav
{
    position: relative;
    width: 800px;
    height: 100px;
    background: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a
{
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    color: goldenrod;
    text-decoration: none;
    padding: 0 20px;
    z-index: 1;
}

nav span
{
    position:absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(45deg, grey, grey);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span
{
    left: 13%;
    width:  160px;

}
nav a:nth-child(2):hover~span
{
    left: 30%;
    width: 130px;
}
nav a:nth-child(3):hover~span
{
    left: 44%;
    width: 125px;
    
}
nav a:nth-child(4):hover~span
{
    left: 60%;
    width: 90px;
    
}
nav a:nth-child(5):hover~span
{
    left: 70%;
    width: 150px;
}


#infosjeu
{    
    position: absolute;
    right: 0; 
    margin: 0;
    background-color: rgb(172, 173, 179);
    color: black;
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

#Miyazaki 
{
    position: relative;
    width: 150px;
    margin-right: 20px;
}

#texteinfosjeu {
    position: relative;
    display: flex;
    flex-direction: column; 
}

#paraaccueil
{
    margin-right: 400px;
    font-size: 22px;
    line-height: 57px ;
    font-family: "MedievalSharp", serif;
    font-weight: 400;
}

#paraaccueil2
{
    line-height: 30px;
    font-size: 22px;
    font-family: "MedievalSharp", serif;
    font-weight: 400;   
}

#divBoss
{
    display: flex;
    align-items: center; /* Aligne le texte verticalement avec l'image */
    gap: 20px; /* Espace entre l'image et le texte */
    padding: 10px;
}

#imageBoss
{
    width: 500px;
}

#h2Boss 
{
    margin: 0; 
    text-decoration: underline;
}

#txtBoss 
{
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-size: 22px;
}

#avis
{
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-size: 24px; 
    line-height: 35px;
}

#h2build
{
    text-decoration: underline;
}

